@use './../base/variables' as v;
@use './../base/mixins' as m;




// ! DURACION - INTENSIDAD
.container-plus {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    text-align: center;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        .name-item, .desc-item {
            margin: 0;
        }
        .name-item {
            font-weight: 650;
        }
    }
}

section.clases-grupales {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem 2rem;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    border-radius: 15px;

    @include m.desktop {

        width: 85%;
        padding: 5rem 4rem;

    }
    

    // ?Elige tus planes
    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;

        @include m.desktop {
            font-size: 3.5rem;
            margin-bottom: 4rem;
        }

        span {
            color: v.$red;
        }
    }

    p {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
}

// ! CARDS
.card-header {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1.5rem;
    text-align: center;

    span {
        font-weight: 700;
    }

    .precio {
        font-size: 1.2rem;
        color: v.$gris-claro;
    }
}
.card-img-top {
    height: 150px;
    object-fit: cover;
}
.clases {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // gap: 2rem;

    .card-title {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .card-text{
        // font-size: 2rem;
        text-align: justify;
        ul.beneficios{

            li {
                font-size: 1.5rem;
            }
        }
        
    }

    a {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

.ver-clases {

    font-size: 2rem;
}