@use './../base/variables' as v;


// ! header Fitness
header {
    background-color: v.$negro;
    
    img {
        width: 32px;
        margin-right: 1rem;
        
    }
    
    .logo-header {


        img {
            width: 6rem;

        }
    }
    .redes_sociales {
        
        i {
            color: v.$gris-oscuro;
            font-size: 2.5rem;
        }
    }
    
    div {
        font-size: 2rem;
    }
    .header-text {
        font-size: 3rem;
    }
}


.btn {
    font-size: 1.8rem;
}
// ! Navegacion

.container_navegacion {
    padding: 1rem 2rem;

}
.navegacion {
    gap: 2rem;
    font-weight: v.$regular;

    .logo {
        font-size: 2.8rem;
    }
    
    i {
        color: white;
        font-size: 3rem;
        margin-right: .5rem;
    }
    .nav-link {
        margin: 0;
        padding: 0;
    }
    


    
    .dropdown-menu {

        a {
            font-size: 2rem;
        }
    }
}