@use './../base/variables' as v;


// ! header Fitness
header {
    background-color: v.$negro;
    
    img {
        width: 32px;
        margin-right: 1rem;
        
    }
    .redes_sociales {
        
        i {
            color: v.$gris-oscuro;
        }
    }
    
    div {
        font-size: 2rem;
    }
    .header-text {
        font-size: 3rem;
    }
}


.btn {
    font-size: 1.8rem;
}
// ! Navegacion

.container_navegacion {
    margin: .8rem 0;
}
.navegacion {
    gap: 2rem;
    font-weight: v.$regular;
    
    i {
        color: white;
        font-size: 1.8rem;
        margin-right: .5rem;
    }
    .nav-link {
        margin: 0;
        padding: 0;
    }
}